.mu-dropdown-panel {
  position: fixed;
  z-index: 110;
  transform-origin: top;
  transform: scaleY(0);

  overflow: auto;
  display: block;

  max-height: 320px;
  margin-top: 4px;
  padding: 4px;

  text-align: start;

  visibility: hidden;
  opacity: 0;
  background: var(--mu-bg-overlay);
  border: 1px solid var(--mu-border-color);
  border-radius: var(--mu-common-border-radius);
  box-shadow: var(--mu-shadow-popup);

  transition: transform .1s, opacity .1s;

  &[position="top"] {
    transform-origin: bottom;
    margin-top: unset;
    margin-bottom: 4px;
  }
  
  &[pop-up] {
    transform: scaleY(1);
    opacity: 1;
  }
}
