.mu-bar {
  display: flex;
  align-items: center;

  height: $barHeight;
  padding: 0 $barPaddingX;

  font-size: var(--mu-common-font-size);

  & > * {
    overflow: hidden;
    margin-left: $commonItemSpacing;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  & > :first-child {
    margin-left: 0;
  }
}

// .mu-bar > label,
.mu-bar_caption {
  font-size: $barLabelFontSize;
  color: var(--mu-text-color-weak);
}

.mu-bar_caption {
  font-weight: 600;

  & + * {
    margin-left: $commonItemSpacing;
  }
}

.mu-bar_divider {
  display: block;
  flex: none;

  width: 2px;
  height: calc(1em + 2px);
  margin: 0 $commonItemSpacing;

  background-color: var(--mu-divider-color);

  & + * {
    margin-left: 0;
  }
}

.mu-bar > .mu-space {
  margin-right: auto;
}

.mu-bar[align-items="stretch"] {
  align-items: stretch;
  padding-top: 0;
  padding-bottom: 0;

  & > label,
  & > .mu-bar_divider,
  & > [align-self="center"] {
    align-self: center;
  }

  /* & > .mu-bar_divider {
    width: 1px;
    height: 100%;
  } */

  & > .mu-button,
  & > .mu-dropdown > .mu-button,
  & > .mu-editor {
    height: 100%;
    border: 0;
    border-radius: 0;
    box-shadow: none;
  }
}
