.mu-check,
.mu-radio {
  cursor: pointer;

  @at-root label#{&} {
    display: inline-flex;
    align-items: center;
    font-size: var(--mu-common-font-size);
    line-height: $checkSize;

    & > span {
      display: block;
    }
  }
}

.mu-radio[disabled],
.mu-check[disabled] {
  pointer-events: none;

  @at-root input#{&},
  & > input {
    opacity: .5;
  }
}

.mu-check > input,
input.mu-check,
.mu-radio > input,
input.mu-radio {
  flex: none;
  width: $checkSize;
  height: $checkSize;
  margin: 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-color: var(--mu-check-background);
  border: 1px solid var(--mu-check-border-color);
  appearance: none;

  &:checked {
    background-color: var(--mu-check-background-checked);
    border-color: var(--mu-check-background-checked);
  }
}

.mu-check,
.mu-radio {
  & > span {
    margin-left: $unitSpacingSize;
  }
}


.mu-check > input,
input.mu-check {
  border-radius: $checkBorderRadius;

  &:checked {
    background-image: var(--mu-check-icon);
  }
}

.mu-radio > input,
input.mu-radio {
  border-radius: $checkSize;
  
  &:checked {
    background-image: var(--mu-radio-icon);
  }
}

.mu-list-item.mu-check,
.mu-list-item.mu-radio {

}