.mu-dialog {
  position: relative;

  overflow: hidden;

  min-width: 360px;
  max-width: 90%;
  min-height: 210px;
  max-height: 90%;

  font-size: var(--mu-common-font-size);

  opacity: 0;
  background: var(--mu-dialog-background);
  border-radius: $windowBorderRadius;
  box-shadow: $boxShadowWindow;

  transition: transform .2s, opacity .2s;

  &[pop-up] {
    opacity: 1;
  }

  &:not(pop-up),
  &[dragging] {
    user-select: none;
  }
}

.mu-dialog_side-panel {
  padding: $windowPaddingY calc($windowPaddingX / 2);
  background: var(--mu-background-strong);
}

.mu-dialog_center > * {
  padding: $windowPaddingY $windowPaddingX;
}

.mu-dialog_header {
  align-items: center;
  line-height: $windowTitleLineHeight;
  background: var(--mu-dialog-header-background);
}

.mu-dialog_footer {
  align-items: center;
  line-height: $windowTitleLineHeight;
  background: var(--mu-dialog-footer-background);

  & > .mu-button {
    margin-left: $unitSpacingSize;
  }
}

.mu-dialog_header + .mu-dialog_footer {
  margin-top: auto;
}

.mu-dialog_body {
  flex: 1 1 0;
  background: var(--mu-dialog-body-background);
}

.mu-dialog_title {
  font-size: $windowTitleFontSize;
  font-weight: 600;
  color: var(--mu-text-color-normal);
}

.mu-dialog_close-button {
  cursor: pointer;
  margin-left: auto;
  font-size: 1.5em;
  color: var(--mu-text-color-weak);

  &:hover {
    color: var(--mu-danger-color-light);
  }
}
