.mu-dropdown-panel {
  position: fixed;
  z-index: 110;
  transform: scaleY(0);

  overflow: auto;
  display: block;

  max-height: 300px;
  padding: $dropdownPadding;

  text-align: start;

  visibility: hidden;
  opacity: 0;
  background: var(--mu-dropdown-background);
  border: $dropdownBorderWidth solid var(--mu-dropdown-border-color);
  border-radius: $dropdownBorderRadius;
  box-shadow: $boxShadowPopup;

  transition: transform .1s, opacity .1s;

  &[pop-up] {
    transform: scaleY(1);
    opacity: 1;
  }

  &:not([position="top"]) {
    transform-origin: top;
    margin-top: $dropdownMargin;
  }

  &[position="top"] {
    transform-origin: bottom;
    margin-bottom: $dropdownMargin;
  }
}

.mu-list-item.mu-dropdown-item {
  cursor: pointer;
  display: flex;
  border-radius: $dropdownItemBorderRadius;

  &:hover {
    background: var(--mu-list-item-hover-background);
  }
}
