.mu-form {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  padding: $unitSpacingSize;
}

.mu-form-row {
  display: flex;
  align-items: center;
  width: 100%;
}

.mu-form-field {
  position: relative;

  display: flex;
  align-items: center;

  width: 100%;
  min-width: 100px;
  padding: $unitSpacingSize;

  font-size: var(--mu-common-font-size);

  & > label {
    position: relative;

    display: inline-block;
    flex: none;

    padding-right: 12px;

    font-size: calc(1em - 1px);
    color: var(--mu-text-color-weak);
  }

  & > .mu-form-field_content {
    display: inline-block;
    flex: 1 1 0;
  }

  & > .mu-editor {
    flex: 1 1 0;
  }

  &[label-align="top"] {
    flex-direction: column;
    align-items: flex-start;

    & > label {
      line-height: $editorHeight;
    }

    & > input,
    & > textarea,
    & > .mu-input,
    & > .mu-editor {
      flex: none;
      width: 100%;
    }
  }

  &[label-align="left"] > label {
    text-align: left;
  }

  &[label-align="right"] > label {
    text-align: right;
  }

  &[label-align="center"] > label {
    text-align: center;
  }

  &[required] > label:before {
    content: "*";

    position: absolute;
    top: -3px;
    right: 0;

    display: inline-block;

    width: 10px;

    color: var(--mu-danger-color);
    text-align: left;

    visibility: visible;
  }

  &[invalid] > label {
    color: var(--mu-danger-color);
  }
}
