.mu-link {
  cursor: pointer;
  color: var(--mu-text-color-normal);
  text-decoration: none;

  &[primary] {
    color: var(--mu-primary-color);
  }

  &:hover {
    color: var(--mu-primary-color-light);
    text-decoration: underline;
  }

  &[danger] {
    color: var(--mu-danger-color);

    &:hover {
      color: var(--mu-danger-color-light);
    }
  }
}