.mu-message-box {
  & .mu-message-box_icon {
    margin-right: $commonItemSpacing;
    font-size: 60px;
    color: var(--mu-blue-3);

    &[icon=warn] {
      color: var(--mu-red-3);
    }
  }

  & .mu-message_title {
    font-size: calc(1em + 2px);
  }
}

.mu-notifier-group {
  position: fixed;
  z-index: 99999;
  top: 0;
  right: 0;
}

.mu-notifier-group-enter-from,
.mu-notifier-group-leave-to {
  transform: translateX(100px);
  opacity: 0;
}

.mu-notifier-group-move,
.mu-notifier-group-enter-active,
.mu-notifier-group-leave-active {
  transition: all .5s;
}

.mu-notifier {
  width: $notifierWidth;
  margin: $notifierMargin;
  padding: $notifierPaddingY $notifierPaddingX;

  font-size: var(--mu-common-font-size);

  background: var(--mu-notifier-background);
  border-radius: $notifierBorderRadius;
  box-shadow: $boxShadowPopup;
  
  &[link]:hover > .mu-message_content {
    cursor: pointer;
    text-decoration: underline;
  }
}

.mu-message_title {
  display: flex;
  align-items: center;
  font-weight: 600;
  line-height: $notifierIconSize;

  & > * {
    display: inline-block;
  }

  & > .mu-icon {
    margin-right: $commonItemSpacing;
    font-size: $notifierIconSize;
    color: var(--mu-primary-color-light);
  }

  &[type=success] > .mu-icon {
    color: var(--mu-success-color-light);
  }

  &[type=warn] > .mu-icon,
  &[type=error] > .mu-icon {
    color: var(--mu-danger-color-light);
  }
}

.mu-message_content {
  padding-left: calc($notifierIconSize + $commonItemSpacing);
  line-height: calc(1em + 8px);
}
