.mu-switch {
  cursor: pointer;

  position: relative;

  overflow: hidden;
  display: inline-flex;
  align-items: center;
  justify-content: center;

  min-width: $switchWidth;
  height: $switchHeight;
  padding-right: $switchPaddingX;
  padding-left: $switchHeight;

  background-color: var(--mu-switch-background);
  border-radius: calc($switchHeight / 2);

  transition: background 0.2s ease-in-out;

  &::after {
    content: ' ';

    position: absolute;
    left: calc(($switchHeight - $switchBallSize) / 2);

    display: inline-block;

    width: $switchBallSize;
    height: $switchBallSize;

    background-color: var(--mu-switch-ball-background);
    border-radius: calc($switchBallSize / 2);

    transition: left 0.2s ease-in-out;
  }

  &[content]::before {
    content: attr(content);
    font-size: $switchLabelFontSize;
    line-height: 1;
    color: var(--mu-switch-inner-label-color);
  }

  &:hover {
    filter: brightness(1.05);
  }

  &[active] {
    padding-right: $switchHeight;
    padding-left: $switchPaddingX;
    background-color: var(--mu-success-color);

    &::after {
      left: calc(100% - ($switchHeight + $switchBallSize) / 2);
    }
  }

  &[primary][active] {
    background-color: var(--mu-primary-color);
  }

  &[danger][active] {
    background-color: var(--mu-danger-color);
  }

  &[disabled] {
    pointer-events: none;
    cursor: default;
    opacity: 50%;
  }
}
