.mu-edit {
  --mu-edit_height: var(--mu-input-size);
  --mu-edit_border-color: var(--mu-border-color);
  --mu-edit_border-radius: var(--mu-common-border-radius);

  position: relative;

  width: 100%;
  height: var(--mu-edit_height);

  font-size: var(--mu-common-font-size);
  line-height: var(--mu-common-line-height);

  border-radius: var(--mu-edit_border-radius);

  &[small] {
    --mu-edit_height: var(--mu-input-size-small);
  }

  &[round] {
    --mu-edit_border-radius: calc(var(--mu-edit_height) / 2);
  }
}

// Input & Textarea
.mu-edit {
  @at-root {
    input#{&} {
      padding: 0 11px;
    }

    textarea#{&} {
      resize: none;
      padding: 5px 11px;
    }

    textarea#{&},
    input#{&},
    #{&} input {
      line-height: var(--mu-common-line-height);
      color: var(--mu-text-color-body);
      outline: none;

      &::-ms-clear {
        display: none;
      }

      &::placeholder {
        color: var(--mu-text-color-placeholder);
      }
    }
  }
}

div.mu-edit {
  user-select: none;
  overflow: hidden;
  display: flex;
}

.mu-edit_input-wrapper,
.mu-edit_addon-prepend,
.mu-edit_addon-append {
  display: flex;
  gap: var(--mu-base-spacing);
  align-items: center;
  
  height: 100%;
  padding: 0 11px;

  & > span, & > a {
    flex: none;
    color: var(--mu-text-color-muted);
  }

  & > span {
    pointer-events: none;
  }

  & > a {
    cursor: pointer;

    &:hover {
      color: var(--mu-text-color-soft);
    }
  }

  & .mu-button {
    padding: 0;
    color: var(--mu-text-color-muted);
    background: none;
    border: none;
  }
}

.mu-edit_input-wrapper {
  flex: 1 1 0;

  & > input {
    flex: 1 1 1px;

    width: 1px;
    height: 100%;
    padding: 0;

    font-size: 1em;

    background: none;
    border: 0;

    &:read-only {
      cursor: default;
    }
  }
}

.mu-edit_addon-prepend, .mu-edit_addon-append {
  overflow: hidden;
  flex: none;
  background-color: var(--mu-bg-translucent-gray);
}

.mu-edit_addon-prepend {
  border-right: 1px solid var(--mu-border-color-soft);
}

.mu-edit_addon-append {
  border-left: 1px solid var(--mu-border-color-soft);
}


// Style & State
.mu-edit {
  color: var(--mu-text-color-normal);
  background-color: var(--mu-bg-normal);
  border: 1px solid var(--mu-edit_border-color);

  &[readonly] {
    background-color: var(--mu-bg-readonly);
  }

  &[disabled] {
    --mu-edit_border-color: var(--mu-border-color-muted);

    pointer-events: none;
    background-color: var(--mu-bg-disabled);
    box-shadow: none;

    & a {
      width: 0;
      margin-left: 0;
      visibility: hidden;
    }
    
    &,
    & > input {
      color: var(--mu-text-color-muted);
    }
  }

  &:focus-within {
    --mu-edit_border-color: var(--mu-primary-color);

    box-shadow: var(--mu-shadow-focus) rgb(from var(--mu-edit_border-color) r g b / 0.15);
  }

  &:hover {
    --mu-edit_border-color: var(--mu-primary-color-4);
  }

  @at-root {
    #{&}[invalid],
    [invalid] > #{&} {
      --mu-edit_border-color: var(--mu-danger-color);

      &:hover {
        --mu-edit_border-color: var(--mu-danger-color-4);
      }
    }
  }
}


.mu-edit-group {
  user-select: none;

  position: relative;

  overflow: hidden;
  display: flex;

  border-radius: var(--mu-edit_border-radius);

  &[round] {
    --mu-edit_border-radius: calc(var(--mu-edit_height) / 2);
  }

  & > * {
    display: flex;
    gap: var(--mu-base-spacing);
    align-items: center;

    padding: 0 11px;

    border: 1px solid var(--mu-border-color);
  }
}
