.mu-edit {
  --mu-edit_height: var(--mu-input-size);
  --mu-edit_bg: var(--mu-bg-normal);
  --mu-edit_border-color: var(--mu-border-color);
}

.mu-edit {
  width: 100%;
  height: var(--mu-edit_height);

  font-size: var(--mu-common-font-size);
  line-height: var(--mu-common-line-height);

  border-radius: var(--mu-common-border-radius);

  &[small] {
    --mu-edit_height: var(--mu-input-size-small);
  }

  &[round] {
    border-radius: calc(var(--mu-edit_height) / 2);
  }
}

// Input & Textarea
.mu-edit {
  @at-root {
    input#{&} {
      padding: 0 11px;
    }

    textarea#{&} {
      resize: none;
      padding: 5px 11px;
    }

    textarea#{&},
    input#{&},
    #{&} > input {
      line-height: var(--mu-common-line-height);
      color: var(--mu-text-color-body);
      outline: none;

      &::-ms-clear {
        display: none;
      }

      &::placeholder {
        color: var(--mu-text-color-placeholder);
      }
    }
  }
}

div.mu-edit {
  user-select: none;

  position: relative;

  overflow: hidden;
  display: flex;
  gap: var(--mu-base-spacing);
  align-items: center;

  padding: 0 11px;

  & > span, & > a {
    flex: none;
    color: var(--mu-text-color-muted);
  }

  & > span {
    pointer-events: none;
  }

  & > a {
    cursor: pointer;

    &:hover {
      color: var(--mu-text-color-soft);
    }
  }

  & > input {
    flex: 1 1 1px;

    width: 1px;
    height: 100%;
    padding: 0;

    font-size: 1em;

    background: none;
    border: 0;

    &:read-only {
      cursor: default;
    }
  }
}

// Style & State
.mu-edit {
  color: var(--mu-text-color-normal);
  background-color: var(--mu-edit_bg);
  border: 1px solid var(--mu-edit_border-color);

  &[disabled] {
    --mu-edit_border-color: var(--mu-border-color-muted);

    pointer-events: none;
    background-color: var(--mu-bg-disabled) !important;
    box-shadow: none !important;

    & > a {
      display: none;
    }
    
    &,
    & > input {
      color: var(--mu-text-color-muted);
    }
  }

  &[input-style="solid"] {
    --mu-edit_bg: var(--mu-bg-translucent-gray);
    --mu-edit_border-color: transparent;

    &[invalid] {
      --mu-edit_bg: var(--mu-bg-danger);
    }
  }

  &[input-style="underline"] {
    border-color: transparent;
    border-bottom-color: var(--mu-edit_border-color);
    border-radius: 0;

    &, &:focus-within {
      box-shadow: none;
    }
  }
}

.mu-edit-group {
  user-select: none;

  position: relative;

  display: flex;

  font-size: var(--mu-common-font-size);
  color: var(--mu-text-color-normal);

  & > * {
    display: flex;
    gap: var(--mu-base-spacing);
    align-items: center;

    margin-left: -1px;
    padding: 0 11px;

    background: var(--mu-bg-translucent-gray);
    border: 1px solid var(--mu-border-color);
    border-radius: 0;
  }

  & > .mu-button {
    border-color: var(--mu-border-color);
  }

  & > .mu-edit {
    --mu-edit_border-color: var(--mu-border-color);
  
    z-index: 1;

    flex: 1 1 auto;

    background-color: var(--mu-edit_bg);
    border: 1px solid var(--mu-edit_border-color);
    border-radius: 0;
  }

  & > .mu-icon {
    justify-content: center;
    width: auto;
  }

  & > :focus-within {
    z-index: 2;
  }

  & > :first-child {
    margin-left: 0;
    border-top-left-radius: var(--mu-common-border-radius);
    border-bottom-left-radius: var(--mu-common-border-radius);
  }

  & > :last-child {
    border-top-right-radius: var(--mu-common-border-radius);
    border-bottom-right-radius: var(--mu-common-border-radius);
  }
}

.mu-edit {
  &:focus-within {
    --mu-edit_border-color: var(--mu-primary-color);

    box-shadow: var(--mu-shadow-focus) rgb(from var(--mu-edit_border-color) r g b / 0.15);
  }

  &:hover {
    --mu-edit_border-color: var(--mu-primary-color-4);
  }

  &[readonly] {
    --mu-edit_bg: var(--mu-bg-readonly);
  }

  &[invalid] {
    --mu-edit_border-color: var(--mu-danger-color);
  }
}