{
  "root": true,
  "parser": "@babel/eslint-parser",
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module"
},
  "extends": [
    "standard",
    "plugin:node/recommended",
    "plugin:security/recommended"
  ],
  "plugins": [
    "node",
    "security"
  ],
  "env": {
    "commonjs": true,
    "node": true
  },
  "rules": {
    "prefer-const": 2,
    "complexity": [ 1, 10],
    "max-len": [
      1,
      {
        "code": 100,
        "tabWidth": 2,
        "ignoreUrls": true,
        "ignoreStrings": false,
        "ignoreComments": true,
        "ignoreRegExpLiterals": true,
        "ignoreTrailingComments": true,
        "ignoreTemplateLiterals": true
      }
    ],
    "node/no-extraneous-require": 0,
    "node/no-unpublished-import": 0,
    "node/no-unsupported-features/es-syntax": 0,
    "security/detect-object-injection": 0
  }
}
