.mu-box[layout=flex] {
  display: flex;

  &[inline] {
    display: inline-flex;
  }
}

.mu-box[layout=flex] {
  align-items: stretch;
  
  &[content-center] {
    align-items: center;
    justify-content: center;
  }

  &[direction="column"] {
    flex-direction: column;
  }

  &[reverse] {
    flex-direction: row-reverse;

    &[direction="column"] {
      flex-direction: column-reverse;
    }
  }

  &:not([flex-wrap]) > .mu-space {
    flex: 1 1 0;
  }

  &[flex-wrap] {
    flex-wrap: wrap;
    align-items: flex-start;

    &:not([direction="column"]) > .mu-space {
      width: 100%;
      height: 0;
    }

    &[direction="column"] > .mu-space {
      width: 0;
      height: 100%;
    }
  }
}

.mu-box[layout=flex] > *,
.mu-box {
  &[flex="auto"] {
    flex-grow: 1;
    flex-shrink: 1;
  }

  &[flex="none"] {
    flex: none;
  }
  
  @for $i from 1 to 12 {
    &[flex~="#{$i}"] {
      flex: $i $i 0;
    }
  }

  &[flex~="auto"] {
    flex-basis: auto;
  }

  @each $v in (flex-start, flex-end, center, baseline, stretch) {
    &[align-self="#{$v}"] {
      align-self: $v;
    }
  }
}

