.mu-tab-button {
  cursor: pointer;
  user-select: none;

  overflow: hidden;
  display: flex;
  gap: var(--mu-content-spacing);
  align-items: center;
  justify-content: center;

  height: var(--mu-input-size);
  padding: 0 11px;

  font-size: var(--mu-common-font-size);
  font-weight: 500;
  line-height: var(--mu-common-line-height);
  color: var(--mu-text-color-normal);
  text-decoration: none;

  border: 1px solid transparent;
  border-radius: var(--mu-common-border-radius);
  outline: none;

  & > span {
    display: block;
  }

  &:hover {
    background: var(--mu-bg-translucent);
  }

  &[active] {
    color: #fff;
    background: var(--mu-primary-color);
  }

  &[disabled] {
    pointer-events: none;
    cursor: default;
    color: var(--mu-text-color-subtle) !important;
    background: var(--mu-bg-disabled) !important;
  }
}

.mu-tab-bar[tab-button-size=small] > .mu-tab-button {
  height: var(--mu-input-size-small);
  padding: 0 7px;
}

.mu-tab-bar[tab-style=simple] > .mu-tab-button {
  height: 100%;
  background: transparent;
  border-radius: 0;

  &[active] {
    color: var(--mu-primary-color);
    border-top: 2px solid transparent;
    border-bottom: 2px solid var(--mu-primary-color);
  }

  &:hover {
    color: var(--mu-primary-color-4);
  }
}

.mu-tab-bar[tab-position=left],
.mu-tab-bar[tab-position=right] {
  & > .mu-tab-button {
    align-self: stretch;
  }

  &[tab-style=simple] {
    & > .mu-tab-button {
      height: 28px;
      padding: 0 11px;
      border-top: 0;
      border-bottom: 0;
    }
  }
}

.mu-tab-bar[tab-position=bottom] {
  &[tab-style=simple] > .mu-tab-button[active] {
    border-top: 2px solid var(--mu-primary-color);
    border-bottom: 2px solid transparent;
  }
}

.mu-tab-bar[tab-position=left] {
  .mu-tab-button {
    justify-content: end;
  }

  &[tab-style=simple] > .mu-tab-button[active] {
    border-right: 3px solid var(--mu-primary-color);
    border-left: 3px solid transparent;
  }
}

.mu-tab-bar[tab-position=right] {
  &[tab-style=simple] > .mu-tab-button[active] {
    border-right: 3px solid transparent;
    border-left: 3px solid var(--mu-primary-color);
  }
}
