.mu-tab-bar {
  display: flex;
  flex: none;
  gap: var(--mu-content-spacing);
  align-items: center;

  height: 40px;
  padding: 0 8px;

  font-size: var(--mu-common-font-size);
  line-height: var(--mu-common-line-height);

  background: var(--mu-bg-strong);

  &[tab-position=left],
  &[tab-position=right] {
    flex-direction: column;
    align-self: stretch;
    height: auto;
    padding: var(--mu-base-spacing);
  }
}

.mu-tab-bar_buttons {
  display: flex;
  gap: var(--mu-content-spacing);
}

.mu-tab-bar > .mu-divider {
  height: calc(1em + 2px);
  margin: 0 var(--mu-content-spacing);
}

