.mu-bar {
  display: flex;
  gap: var(--mu-base-spacing);
  align-items: center;

  height: 40px;
  padding: 0 8px;

  font-size: var(--mu-common-font-size);

  & > :first-child {
    margin-left: 0;
  }

  & > .mu-label {
    color: var(---mu-text-color-muted);
  }

  & > .mu-divider {
    flex: none;
  }

  & > .mu-space {
    flex: 1 1 0;
  }  
}

.mu-bar[align-items="stretch"] {
  align-items: stretch;
  padding-top: 0;
  padding-bottom: 0;

  & > label,
  & > .mu-bar_divider,
  & > [align-self="center"] {
    align-self: center;
  }

  & > .mu-button,
  & > .mu-dropdown > .mu-button,
  & > .mu-editor {
    height: 100%;
    border: 0;
    border-radius: 0;
    box-shadow: none;
  }
}
