.mu-flex-splitter {
  --mu-flex-splitter-slim-size: 2px;
  --mu-flex-splitter-full-size: 6px;

  --mu-flex-splitter-bg: var(--mu-border-color);
  --mu-flex-splitter-hover-bg: var(--mu-border-hover-color);
  --mu-flex-splitter-active-bg: var(--mu-primary-color);

  --mu-flex-splitter-stripe-size: calc(var(--mu-flex-splitter-full-size) - 2px);
  --mu-flex-splitter-stripe-color: #fff;

  cursor: col-resize;
  user-select: none;

  position: relative;
  z-index: 10;

  overflow: visible;
  display: none;
  flex: 0 0 var(--mu-flex-splitter-slim-size);
  align-items: center;
  align-self: stretch;
  justify-content: center;

  &::before {
    content: '';
    position: absolute;
    background: var(--mu-flex-splitter-bg);
  }

  &[direction] {
    display: flex;
  }

  &[appearance="full"] {
    flex-basis: var(--mu-flex-splitter-full-size);
  }

  &:hover::before {
    background: var(--mu-flex-splitter-hover-bg);
  }

  &[active]::before {
    background: var(--mu-flex-splitter-active-bg);
  }

  &:hover,
  &[active] {
    z-index: 20;
  }

  &:hover,
  &[active],
  &[appearance="full"] {
    & > .mu-flex-splitter_stripe {
      display: block;
    }
  }

  &[resizable="false"] {
    pointer-events: none;

    & > .mu-flex-splitter_stripe {
      display: none !important;
    }
  }
}

.mu-flex-splitter_stripe {
  position: absolute;
  display: none;
  color: var(--mu-flex-splitter-stripe-color);
}

.mu-flex-splitter[direction="row"] {
  cursor: col-resize;

  &::before {
    top: 0;
    bottom: 0;
    width: var(--mu-flex-splitter-slim-size);
  }

  & > .mu-flex-splitter_stripe {
    width: var(--mu-flex-splitter-stripe-size);
  }

  &:hover,
  &[active],
  &[appearance="full"] {
    &::before {
      width: var(--mu-flex-splitter-full-size);
    }
  }
}

.mu-flex-splitter[direction="column"] {
  cursor: row-resize;

  &::before {
    right: 0;
    left: 0;
    height: var(--mu-flex-splitter-slim-size);
  }

  & > .mu-flex-splitter_stripe {
    height: var(--mu-flex-splitter-stripe-size);
  }

  &:hover,
  &[active],
  &[appearance="full"] {
    &::before {
      height: var(--mu-flex-splitter-full-size);
    }
  }
}

.mu-flex-collapsed {
  display: none !important;
}
