.mu-bg-white {
  background-color: #fff;
}

.mu-bg-black {
  background-color: #000;
}

.mu-bg-normal {
  background-color: var(--mu-bg-normal);
}

.mu-bg-strong {
  background-color: var(--mu-bg-strong);
}

.mu-bg-disabled {
  background-color: var(--mu-bg-disabled);
}

.mu-bg-transparent {
  background-color: transparent;
}

.mu-bg-inherit {
  background-color: inherit;
}
