.mu-shadow-float {
  box-shadow: var(--mu-shadow-float);
}

.mu-shadow-popup {
  box-shadow: var(--mu-shadow-popup);
}

.mu-shadow-layer {
  box-shadow: var(--mu-shadow-layer);
}

.mu-shadow-modal {
  box-shadow: var(--mu-shadow-modal);
}

.mu-shadow-focus {
  --mu-shadow-color: var(--mu-shadow-primary);

  &:focus {
    box-shadow: var(--mu-shadow-focus);
  }
}

.mu-shadow-focus-within {
  --mu-shadow-color: var(--mu-shadow-primary);

  &:focus-within {
    box-shadow: var(--mu-shadow-focus);
  }
}
