.mu-expand-icon {
  cursor: pointer;
  transition: transform .1s ease-in-out;

  &[expand-type="dropdown"][expanded] {
    transform: rotate(-180deg);
  }

  &[expand-type="folder"] {
    transform: rotate(-90deg);

    &[expanded] {
      transform: rotate(0);
    }
  }
}
