.mu-icon {
  display: inline-block;

  width: 1em;

  font-size: calc(1em + 2px);
  color: var(--mu-text-color-normal);

  border-radius: var(--mu-widget-border-radius);

  transition: transform .2s ease-in-out;

  &::before, &::after {
    display: block;
  }

  & svg {
    /* vertical-align: -0.15em; */
    display: block;
    width: 1em;
    height: 1em;
  }
}

.mu-icon.mu-icon-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  &[primary] {
    color: var(--mu-primary-color);
  }

  &[success] {
    color: var(--mu-success-color);
  }

  &[danger] {
    color: var(--mu-danger-color);
  }

  &:hover {
    color: var(--mu-primary-color-4);
  }

  &[success]:hover {
    color: var(--mu-success-color-4);
  }
  
  &[danger]:hover {
    color: var(--mu-danger-color-4);
  }
}
