.mu-bg-white {
  background-color: $white;
}

.mu-bg-black {
  background-color: $black;
}

.mu-bg-normal-color {
  background-color: var(--mu-background-normal);
}

.mu-bg-strong {
  background-color: var(--mu-background-strong);
}

.mu-bg-disabled {
  background-color: var(--mu-background-disabled);
}

.mu-bg-transparent {
  background-color: transparent;
}

.mu-bg-inherit {
  background-color: inherit;
}

.mu-bg-x-color {
  background-color: var(--mu-x-color);
}
