.mu-bg-normal {
  background: var(--mu-background-normal);
}

.mu-bg-strong {
  background: var(--mu-background-strong);
}

.mu-bg-disabled {
  background: var(--mu-background-disabled);
}

.mu-bg-x-color {
  background: var(--mu-x-color);
}
