.mu-shadow-layer {
  box-shadow: $boxShadowLayer;
}

.mu-shadow-layer-hover {
  box-shadow: $boxShadowLayer;

  &:hover {
    box-shadow: $boxShadowFloating;
  }
}

.mu-shadow-popup {
  box-shadow: $boxShadowPopup;
}

.mu-shadow-floating {
  box-shadow: $boxShadowFloating;
}

.mu-shadow-window {
  box-shadow: $boxShadowWindow;
}
