[x-color="gray"] {
  --mu-x-color: var(--mu-gray);
  --mu-x-color-dark: var(--mu-gray-dark);
  --mu-x-color-light: var(--mu-gray-light);
  --mu-x-color-shadow: var(--mu-gray-shadow);
}

[x-color="red"] {
  --mu-x-color: var(--mu-red);
  --mu-x-color-dark: var(--mu-red-dark);
  --mu-x-color-light: var(--mu-red-light);
  --mu-x-color-shadow: var(--mu-red-shadow);
}

[x-color="pink"] {
  --mu-x-color: var(--mu-pink-5);
  --mu-x-color-dark: var(--mu-pink-dark);
  --mu-x-color-light: var(--mu-pink-light);
  --mu-x-color-shadow: var(--mu-pink-shadow);
}

[x-color="grape"] {
  --mu-x-color: var(--mu-grape-5);
  --mu-x-color-dark: var(--mu-grape-dark);
  --mu-x-color-light: var(--mu-grape-light);
  --mu-x-color-shadow: var(--mu-grape-shadow);
}

[x-color="violet"] {
  --mu-x-color: var(--mu-violet-5);
  --mu-x-color-dark: var(--mu-violet-dark);
  --mu-x-color-light: var(--mu-violet-light);
  --mu-x-color-shadow: var(--mu-violet-shadow);
}

[x-color="indigo"] {
  --mu-x-color: var(--mu-indigo-5);
  --mu-x-color-dark: var(--mu-indigo-dark);
  --mu-x-color-light: var(--mu-indigo-light);
  --mu-x-color-shadow: var(--mu-indigo-shadow);
}

[x-color="blue"] {
  --mu-x-color: var(--mu-blue-5);
  --mu-x-color-dark: var(--mu-blue-dark);
  --mu-x-color-light: var(--mu-blue-light);
  --mu-x-color-shadow: var(--mu-blue-shadow);
}

[x-color="cyan"] {
  --mu-x-color: var(--mu-cyan-5);
  --mu-x-color-dark: var(--mu-cyan-dark);
  --mu-x-color-light: var(--mu-cyan-light);
  --mu-x-color-shadow: var(--mu-cyan-shadow);
}

[x-color="teal"] {
  --mu-x-color: var(--mu-teal-5);
  --mu-x-color-dark: var(--mu-teal-dark);
  --mu-x-color-light: var(--mu-teal-light);
  --mu-x-color-shadow: var(--mu-teal-shadow);
}

[x-color="green"] {
  --mu-x-color: var(--mu-green-5);
  --mu-x-color-dark: var(--mu-green-dark);
  --mu-x-color-light: var(--mu-green-light);
  --mu-x-color-shadow: var(--mu-green-shadow);
}

[x-color="lime"] {
  --mu-x-color: var(--mu-lime-5);
  --mu-x-color-dark: var(--mu-lime-dark);
  --mu-x-color-light: var(--mu-lime-light);
  --mu-x-color-shadow: var(--mu-lime-shadow);
}

[x-color="yellow"] {
  --mu-x-color: var(--mu-yellow-5);
  --mu-x-color-dark: var(--mu-yellow-dark);
  --mu-x-color-light: var(--mu-yellow-light);
  --mu-x-color-shadow: var(--mu-yellow-shadow);
}

[x-color="orange"] {
  --mu-x-color: var(--mu-orange-5);
  --mu-x-color-dark: var(--mu-orange-dark);
  --mu-x-color-light: var(--mu-orange-light);
  --mu-x-color-shadow: var(--mu-orange-shadow);
}
