.mu-dialog-mask {
  display: flex;
  align-items: center;
  justify-content: center;
  transition-duration: .2s;
}

.mu-dialog {
  position: relative;

  overflow: hidden;
  display: flex;
  flex-direction: column;

  min-width: 360px;
  max-width: 100%;
  min-height: 240px;
  max-height: 100%;

  font-size: var(--mu-common-font-size);
  color: var(--mu-text-color-normal);

  background: var(--mu-bg-normal);
  border-radius: var(--mu-window-border-radius);
  box-shadow: var(--mu-shadow-modal);

  transition: margin-top .2s, opacity .2s;

  &[dragging] {
    opacity: .8;
  }
}

.mu-dialog-enter-from,
.mu-dialog-leave-to {
  & > .mu-dialog {
    margin-top: 300px;
    opacity: 0;
  }
}

.mu-dialog_icon {
  pointer-events: none;
  font-size: 24px;
}

.mu-dialog_title {
  pointer-events: none;
  flex: 1 1 0;
  font-size: calc(var(--mu-common-font-size) + 2px);
  font-weight: 600;
}

.mu-tool-button.mu-close-button {
  transition: all .1s ease-in-out;

  &:hover {
    transform: rotate(-180deg);
    color: #fff;
    background-color: var(--mu-danger-color);
  }
}

.mu-dialog_header,
.mu-dialog_footer {
  user-select: none;

  display: flex;
  flex: none;
  gap: 8px;
  align-items: center;

  line-height: 20px;
  color: var(--mu-text-color-normal);

  & > .mu-divider {
    align-self: center;
    height: calc(1em + 2px);
    margin: 0 var(--mu-base-spacing);
  }
}

.mu-dialog_header {
  padding: calc(var(--mu-base-spacing) * 2);

  & + .mu-dialog_footer {
    margin-top: auto;
  }

  /*
  & > .mu-tool-button:last-child {
    margin-right: -8px;
  }
  */
}

.mu-dialog_footer {
  justify-content: flex-end;
  padding: calc(var(--mu-base-spacing) * 2);
}

.mu-dialog_body {
  flex: 1 1 auto;
  padding: calc(var(--mu-base-spacing) * 2);
  // background-color: var(--mu-bg-strong);
}
