.mu-dialog-mask {
  display: flex;
  align-items: center;
  justify-content: center;
  transition-duration: .3s;
}

.mu-dialog {
  position: relative;

  overflow: hidden;

  min-width: 360px;
  max-width: 90%;
  min-height: 210px;
  max-height: 90%;

  font-size: var(--mu-common-font-size);
  color: var(--mu-text-color-normal);

  background: var(--mu-bg-normal);
  border-radius: var(--mu-window-border-radius);
  box-shadow: var(--mu-shadow-modal);

  transition: margin-top .3s, opacity .3s;

  &[dragging] {
    opacity: .75;
  }
}

.mu-dialog-enter-from,
.mu-dialog-leave-to {
  & > .mu-dialog {
    margin-top: 300px;
    opacity: 0;
  }
}