<!DOCTYPE html>
<html lang="zh">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Bar Component Example</title>

  <script type="text/javascript" src="../../node_modules/vue/dist/vue.global.js"></script>
  <script type="text/javascript" src="../../dist/mussel.js"></script>

  <link
    rel="stylesheet"
    type="text/css"
    href="../../dist/mussel.css" />
  <link
    rel="stylesheet"
    type="text/css"
    href="../../node_modules/@tabler/icons/iconfont/tabler-icons.css" />
</head>

<body>
  <div id="app" class="mu-box mu-bg-normal" position="fixed fit" layout="flex" direction="column">
    <div class="mu-bar mu-box mu-bg-strong mu-shadow-floating" style="z-index: 1;" flex="none">
      <button class="mu-button" primary>Create</button>
      <button class="mu-button" primary button-style="outline">Create</button>
      <mu-dropdown-button caption="artist" :dropdown-items="artists"></mu-dropdown-button>
      <div class="mu-editor mu-box" margin-left="auto">
        <span class="mu-icon ti ti-search"></span>
        <input placeholder="Search Something">
      </div>
    </div>
    <div class="mu-box" layout="flex" flex="1">
      <div class="mu-box mu-bg-normal" border-right="1" width="300" flex="none">

      </div>
      <div flex="1"></div>
    </div>
  </div>

  <script type="text/javascript">
    const app = Vue.createApp({
      setup () {
        const artists = Vue.reactive([
          { divider: true, label: 'GROUP 1' },
          { label: 'Ludwig van Beethoven', value: 1 },
          { label: 'Wolfgang Amadeus Mozart' },
          '-',
          { divider: true, label: 'GROUP 2' },
          { label: 'Frédéric François Chopin' },
          { label: 'Johann Baptist Strauss', disabled: true  }
        ])

        return { artists }
      }
    })

    mussel.install(app, { darkMode: 'auto' })
    mussel.registerIcons({
      bug: 'ti ti-bug',
      bolt: 'ti ti-bolt',
      album: 'ti ti-album'
    })

    app.mount('#app')
  </script>
</body>
