<!DOCTYPE html>
<html lang="zh">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <title>Button Component Example</title>

  <script type="text/javascript" src="../../node_modules/vue/dist/vue.global.js"></script>
  <script type="text/javascript" src="../../dist/mussel.js"></script>

  <link rel="stylesheet" type="text/css" href="../../dist/mussel.css" />
  <style>
    .mu-button:not(.mu-icon-button) {
      min-width: 100px;
    }

    .mu-button-group,
    :not(.mu-button-group) > .mu-button {
      margin: 8px;
    }
  </style>
</head>

<body>
  <div id="app" class="mu-box mu-bg-normal" position="fixed fit">
    <div class="mu-box" layout="flex" padding="1x">
      <mu-button>NORMAL</mu-button>
      <mu-button button-style="text">TEXT</mu-button>
      <mu-button button-style="outline">OUTLINE</mu-button>
      <mu-button button-style="link">LINK</mu-button>
      <mu-button active>ACTIVE</mu-button>
      <mu-button button-style="link" disabled>DISABLED</mu-button>
      <mu-button disabled>DISABLED</mu-button>
    </div>
    <div class="mu-box" layout="flex" padding="1x">
      <mu-button primary>NORMAL</mu-button>
      <mu-button primary button-style="text">TEXT</mu-button>
      <mu-button primary button-style="outline">OUTLINE</mu-button>
      <mu-button primary button-style="link">LINK</mu-button>
      <mu-button primary active>ACTIVE</mu-button>
      <mu-button primary button-style="link" disabled>DISABLED</mu-button>
      <mu-button primary disabled>DISABLED</mu-button>
    </div>
    <div class="mu-box" layout="flex" padding="1x">
      <mu-button secondary>NORMAL</mu-button>
      <mu-button secondary button-style="text">TEXT</mu-button>
      <mu-button secondary button-style="outline">OUTLINE</mu-button>
      <mu-button secondary button-style="link">LINK</mu-button>
      <mu-button secondary active>ACTIVE</mu-button>
      <mu-button secondary button-style="link" disabled>DISABLED</mu-button>
      <mu-button secondary disabled>DISABLED</mu-button>
    </div>
    <div class="mu-box" layout="flex" padding="1x">
      <mu-button danger>NORMAL</mu-button>
      <mu-button danger button-style="text">TEXT</mu-button>
      <mu-button danger button-style="outline">OUTLINE</mu-button>
      <mu-button danger button-style="link">LINK</mu-button>
      <mu-button danger active>ACTIVE</mu-button>
      <mu-button danger button-style="link" disabled>DISABLED</mu-button>
      <mu-button danger disabled>DISABLED</mu-button>
    </div>
    <div class="mu-box" layout="flex" flex-wrap padding="1x">
      <mu-button x-color="gray">GRAY</mu-button>
      <mu-button x-color="red">RED</mu-button>
      <mu-button x-color="pink">PINK</mu-button>
      <mu-button x-color="grape">GRAPE</mu-button>
      <mu-button x-color="violet">VIOLET</mu-button>
      <mu-button x-color="indigo">INDIGO</mu-button>
      <mu-button x-color="blue">BLUE</mu-button>
      <div class="mu-space"></div>
      <mu-button x-color="cyan">CYAN</mu-button>
      <mu-button x-color="teal">TEAL</mu-button>
      <mu-button x-color="green">GREEN</mu-button>
      <mu-button x-color="lime">LIME</mu-button>
      <mu-button x-color="yellow">YELLOW</mu-button>
      <mu-button x-color="orange">ORANGE</mu-button>
    </div>
    <div class="mu-box" layout="flex" padding="1x">
      <mu-button class="mu-icon-button" icon="album"></mu-button>
      <mu-button icon="bolt" primary caption="ENGLISH"></mu-button>
      <mu-button icon="box" secondary caption="中文"></mu-button>
      <mu-button icon="arrowUp" danger caption="混合 MIX"></mu-button>
    </div>
    <div class="mu-box" layout="flex" padding="1x">
      <mu-button><span>badge</span><span class="mu-badge">1</span></mu-button>
      <mu-button><span>badge</span><span class="mu-badge" primary>2</span></mu-button>
      <mu-button><span>badge</span><span class="mu-badge" secondary>3</span></mu-button>
      <mu-button><span>badge</span><span class="mu-badge" warning>4</span></mu-button>
      <mu-button><span>badge</span><span class="mu-badge" danger>5</span></mu-button>
    </div>
    <div class="mu-box" layout="flex" flex-wrap padding="1x">
      <mu-button-group width="400">
        <mu-button :active="activeItem === 1" @click="select(1)">One</mu-button>
        <mu-button :active="activeItem === 2" @click="select(2)">Two</mu-button>
        <mu-button :active="activeItem === 3" @click="select(3)">Three</mu-button>
      </mu-button-group>
      <mu-button-group primary width="400">
        <mu-button :active="activeItem === 1" @click="select(1)">One</mu-button>
        <mu-button :active="activeItem === 2" @click="select(2)">Two</mu-button>
        <mu-button :active="activeItem === 3" @click="select(3)">Three</mu-button>
      </mu-button-group>
      <div class="mu-space"></div>
      <mu-button-group x-color="cyan" width="300" round>
        <mu-button :active="activeItem === 1" @click="select(1)">One</mu-button>
        <mu-button :active="activeItem === 2" @click="select(2)">Two</mu-button>
        <mu-button :active="activeItem === 3" @click="select(3)">Three</mu-button>
      </mu-button-group>
      <mu-button-group danger width="300" round>
        <mu-button :active="activeItem === 1" @click="select(1)">One</mu-button>
        <mu-button :active="activeItem === 2" @click="select(2)">Two</mu-button>
        <mu-button :active="activeItem === 3" @click="select(3)">Three</mu-button>
      </mu-button-group>
      <mu-button-group width="300" height="60px" disabled>
        <mu-button :active="activeItem === 1" @click="select(1)">One</mu-button>
        <mu-button :active="activeItem === 2" @click="select(2)">Two</mu-button>
        <mu-button :active="activeItem === 3" @click="select(3)">Three</mu-button>
      </mu-button-group>
    </div>
    <div class="line-spinner"></div>
  </div>

  <script type="text/javascript">
    const app = Vue.createApp({
      data () {
        return {
          activeItem: null
        }
      },
      methods: {
        onClick (v) {
          alert('click ' + v)
        },
        select (v) {
          this.activeItem = v
        }
      }
    })
    mussel.registerIcons({
      bolt: 'ti ti-bolt',
      album: 'ti ti-album',
      box: 'ti ti-box',
      arrowUp: `
        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-arrow-up" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
          <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
          <line x1="12" y1="5" x2="12" y2="19" />
          <line x1="18" y1="11" x2="12" y2="5" />
          <line x1="6" y1="11" x2="12" y2="5" />
        </svg>`
    })
    mussel.install(app, { darkMode: 'auto', theme: { primaryColor: '#5b9c78'} })

    app.mount('#app')
  </script>
</body>

</html>
