<!DOCTYPE html>
<html lang="zh" class="mu-root">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Dialog Component Example</title>

  <script type="text/javascript" src="../../node_modules/vue/dist/vue.global.js"></script>
  <script type="text/javascript" src="../../dist/mussel.js"></script>

  <link rel="stylesheet" type="text/css" href="../../dist/mussel.css" />
  <link rel="stylesheet" type="text/css" href="../../node_modules/@tabler/icons/iconfont/tabler-icons.css" />

  <style>
    .chart-dialog1 .mu-dialog_header,
    .chart-dialog1 .mu-dialog_footer {
      background: var(--mu-background-strong);
    }
  </style>
</head>

<body>
  <div id="app" class="mu-box" position="fixed fit" dark-mode>
    <div class="mu-box" layout="flex" padding="1x">
      <mu-button @click="dialogVisible1 = true">Show Dialog 1</mu-button>
      <mu-dialog
        v-model:visible="dialogVisible1"
        title="My Dialog 1"
        mask-action="hide"
        width="640px"
        height="480px"
        :buttons="buttons"
        @show="onShow"
        @hide="onHide">
        <div flex="1">
          <span>{{ new Date() }}</span>
        </div>
      </mu-dialog>
    </div>
    <div class="mu-box" layout="flex" padding="1x">
      <mu-button @click="dialogVisible2 = true">Show Dialog 2</mu-button>
      <mu-dialog
        v-model:visible="dialogVisible2"
        title="My Dialog 2"
        width="640px"
        height="480px"
        :buttons="buttons">
        <template v-slot:side-panel>
          <div class="mu-dialog_side-panel mu-box" width="200">
          </div>
        </template>
      </mu-dialog>
    </div>
    <div class="mu-box" layout="flex" padding="1x">
      <mu-button @click="dialogVisible3 = true">Show Dialog 3</mu-button>
      <mu-dialog
        v-model:visible="dialogVisible3"
        class="chart-dialog"
        title="老六专用流程"
        mask-action="hide"
        width="800px"
        height="600px"
        :buttons="[
          { caption: '关闭' }
        ]">
        <mu-v-box
          style="background: rgba(255, 255, 255, .05);"
          height="100%" margin-x="3x" border-radius content-center>
          <div
            class="mu-bar mu-box"
            position="absolute top right" margin="2x">
            <mu-button primary>调整</mu-button>
            <span class="mu-bar_divider mu-box"></span>
            <mu-button disabled>启用</mu-button>
            <mu-dropdown
              caption="..."
              :dropdown-items="[
                { label: '停用流程' },
                { label: '删除流程' }
              ]">
              <mu-button  danger>...</mu-button>
            </mu-dropdown>
          </div>
          <img src="../images/chart.svg" style="width: 100%;">
        </mu-v-box>
      </mu-dialog>
    </div>
  </div>

  <script type="text/javascript">
    const app = Vue.createApp({
      setup () {
        const dialogVisible1 = Vue.ref(false)
        const dialogVisible2 = Vue.ref(false)
        const dialogVisible3 = Vue.ref(false)

        const buttons = [
          { caption: 'Cancel', action: 'hide' },
          { caption: 'Accept', primary: true }
        ]

        return {
          dialogVisible1,
          dialogVisible2,
          dialogVisible3,
          buttons,
          onShow () {
            console.log('show')
          },
          onHide () {
            console.log('hide')
          }
        }
      }
    })

    mussel.registerIcons({
      bolt: 'ti ti-bolt'
    })

    mussel.install(app)

    app.mount('#app')
  </script>
</body>
