<!DOCTYPE html>
<html lang="zh" class="mu-root">

<head>
  <meta charset="utf-8">
  <meta
    name="viewport"
    content="width=device-width, initial-scale=1.0, user-scalable=no, minimal-ui">

  <title>Dropdown Component Example</title>

  <link rel="stylesheet" type="text/css" href="../../dist/mussel.css" />

  <script type="text/javascript" src="../../node_modules/vue/dist/vue.global.js"></script>
  <script type="text/javascript" src="../../dist/mussel.js"></script>

</head>

<body>
  <div id="app" class="mu-box" position="fixed fit">
    <div class="mu-box" padding="1x" style="padding-left: 200px;">
      <mu-dropdown
        dropdown-align="right"
        :dropdown-items="artists"
        @dropdown:show="onShow"
        @dropdown:itemclick="onItemClick">
        <mu-button>{{ artist }}</mu-button>
      </mu-dropdown>
    </div>
    <div class="mu-box" padding="1x">
      <mu-dropdown
        dropdown-align="top right"
        dropdown-trigger="click"
        :dropdown-items="artists"
        @dropdown:show="onShow"
        @dropdown:itemclick="onItemClick">
        <mu-button>Press me</mu-button>
      </mu-dropdown>
    </div>
    <div class="mu-box" layout="flex" padding="1x">
      <mu-dropdown-button
        danger
        caption="Dropdown Button"
        :dropdown-items="artists"
        @dropdown:itemclick="onItemClick">
      </mu-dropdown-button>
    </div>
    <div class="mu-box" layout="flex" padding="1x">
      <mu-dropdown-button
        x-color="cyan"
        split-button
        reserve-icon-place
        caption="Split Button"
        :dropdown-items="artists"
        @click="onButtonClick"
        @dropdown:itemclick="onItemClick">
      </mu-dropdown-button>
    </div>
    <div class="mu-box" layout="flex" padding="1x">
      <mu-dropdown-button
        x-color="grape"
        split-button
        reserve-icon-place
        caption="Check & Radio"
        ref="btnGrape"
        @dropdown:itemclick="onItemClick">
        <template #dropdown>
          <mu-dropdown-check-item
            value="Ludwig van Beethoven"
            v-model="checkedArtists">
          </mu-dropdown-check-item>
          <mu-dropdown-check-item
            value="Wolfgang Amadeus Mozart"
            v-model="checkedArtists">
          </mu-dropdown-check-item>
          <mu-list-divider></mu-list-divider>
          <mu-dropdown-radio-item
            value="Frédéric François Chopin"
            v-model="checkedArtist">
          </mu-dropdown-radio-item>
          <mu-dropdown-radio-item
            value="Johann Baptist Strauss"
            v-model="checkedArtist">
          </mu-dropdown-radio-item>
        </template>
      </mu-dropdown-button>
    </div>
    <div class="mu-box" layout="flex" padding="1x">
      <mu-dropdown-button
        x-color="gray"
        split-button
        caption="仅可查看"
        ref="btnGrape"
        @dropdown:itemclick="onItemClick">
        <template #dropdown>
          <mu-list-divider label="协作权限"></mu-list-divider>
          <mu-dropdown-radio-item
            label="仅可查看"
            :value="true"
            v-model="permission">
          </mu-dropdown-radio-item>
          <mu-dropdown-radio-item
            label="允许编辑"
            :value="false"
            v-model="permission">
          </mu-dropdown-radio-item>
          <mu-list-divider></mu-list-divider>
          <mu-dropdown-item icon="x" label="取消共享"></mu-dropdown-item>
        </template>
      </mu-dropdown-button>
    </div>
    <div class="mu-box" layout="flex" padding="1x">
      <mu-button @click="stickyPanelVisible = true">Where's the Dropdown ?</mu-button>
      <mu-dropdown-panel
        :items="artists"
        :sticky-target="btnGrape"
        width="auto"
        v-model:visible="stickyPanelVisible">
      </mu-dropdown-panel>
    </div>
  </div>

  <script type="text/javascript">
    const app = Vue.createApp({
      setup () {
        const artist = Vue.ref('artist')
        const artists = Vue.reactive([
          '-',
          { divider: true, label: 'GROUP 1' },
          { label: 'Ludwig van Beethoven', value: 1, icon: 'circleAlert'  },
          { label: 'Wolfgang Amadeus Mozart', icon: 'circleAlert' },
          '-',
          { divider: true, label: 'GROUP 2' },
          { divider: true, label: 'GROUP 3' },
          { label: 'Frédéric François Chopin' },
          { label: 'Johann Baptist Strauss', icon: 'circleAlert' }
        ])
        const checkedArtist = Vue.ref(null)
        const checkedArtists = Vue.ref([])
        const permission = Vue.ref(false)

        function onShow () {
          console.log('show')
        }

        function onItemClick (item) {
          console.log(item.value || item.label)
        }

        function onButtonClick () {
          console.log('button click')
        }

        const btnGrape = Vue.ref(null)
        const stickyPanelVisible = Vue.ref(false)

        return {
          artist,
          artists,
          checkedArtist,
          checkedArtists,
          btnGrape,
          stickyPanelVisible,
          permission,
          onShow,
          onItemClick,
          onButtonClick
        }
      }
    })

    app
      .use(mussel, {
        darkMode: 'auto',
        icons: {
          bug: 'ti ti-bug',
          bolt: 'ti ti-bolt',
          album: 'ti ti-album'
        }
      })
      .mount('#app')
  </script>
</body>
