<!DOCTYPE html>
<html lang="zh" class="mu-root">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Dropdown Component Example</title>

  <script type="text/javascript" src="../../node_modules/vue/dist/vue.global.js"></script>
  <script type="text/javascript" src="../../dist/mussel.js"></script>

  <link
    rel="stylesheet" type="text/css"
    href="../../dist/mussel.css" />
  <link
    rel="stylesheet" type="text/css"
    href="../../node_modules/@tabler/icons/iconfont/tabler-icons.css" />
</head>

<body class="mu-background-normal">
  <div id="app">
    <div class="mu-box" layout="flex" padding="1x">
      <mu-dropdown
        :dropdown-items="artists"
        @dropdown:show="onShow"
        @dropdown:itemclick="onItemClick">
        <mu-button>{{ artist }}</mu-button>
      </mu-dropdown>
    </div>
    <div class="mu-box" layout="flex" padding="1x">
      <mu-dropdown-button
        danger
        :caption="artist"
        :dropdown-items="artists"
        reserve-icon-place
        @dropdown:itemclick="onItemClick">
      </mu-dropdown-button>
    </div>
    <div class="mu-box" layout="flex" padding="1x">
      <mu-dropdown-button
        x-color="cyan"
        split-button
        reserve-icon-place
        :caption="artist"
        :dropdown-items="artists"
        @click="onButtonClick"
        @dropdown:itemclick="onItemClick">
      </mu-dropdown-button>
    </div>
    <div v-for="el in x">{{ el }}</div>
  </div>

  <script type="text/javascript">
    const app = Vue.createApp({
      setup () {
        const artist = Vue.ref('artist')
        const artists = Vue.reactive([
          '-',
          { divider: true, label: 'GROUP 1' },
          { label: 'Ludwig van Beethoven', value: 1, icon: 'circleAlert', radio: true  },
          { label: 'Wolfgang Amadeus Mozart', checked: true, radio: true },
          '-',
          { divider: true, label: 'GROUP 2' },
          { divider: true, label: 'GROUP 3' },
          { label: 'Frédéric François Chopin', checked: true },
          { label: 'Johann Baptist Strauss', icon: 'circleAlert', checked: true  }
        ])

        function onShow () {
          console.log('show')
        }

        function onItemClick (data) {
          artist.value = data.label

          const item = artists.find(el => el.label === data.label)

          if (item.label === 'Ludwig van Beethoven') {
            item.checked = true
            artists.find(el => el.label === 'Wolfgang Amadeus Mozart').checked= false
          } else if (item.label === 'Wolfgang Amadeus Mozart') {
            item.checked = true
            artists.find(el => el.label === 'Ludwig van Beethoven').checked= false
          } else {
            console.log(item.checked)
            item.checked = !item.checked
          }
        }

        function onButtonClick () {
          console.log('button click')
        }

        return { artist, artists, onShow, onItemClick, onButtonClick, x: null }
      }
    })

    mussel.install(app)
    mussel.registerIcons({
      bug: 'ti ti-bug',
      bolt: 'ti ti-bolt',
      album: 'ti ti-album'
    })

    app.mount('#app')
  </script>
</body>
