<!DOCTYPE html>
<html lang="zh" class="mu-root">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Editor Component Example</title>

  <script type="text/javascript" src="../../node_modules/vue/dist/vue.global.js"></script>
  <script type="text/javascript" src="../../dist/mussel.js"></script>

  <link
    rel="stylesheet" type="text/css"
    href="../../dist/mussel.css" />
  <link
    rel="stylesheet" type="text/css"
    href="../../node_modules/@tabler/icons/iconfont/tabler-icons.css" />
  <style>
    .my-combo-box > input {
      color: green;
    }
  </style>
</head>

<body>
  <div id="app" class="mu-box" position="fixed fit">
    <div class="mu-box" padding="2x">
      {{ artist }}
    </div>
    <div class="mu-box" padding="1x">
      <mu-editor
        v-model="artist"
        class="mu-box"
        underline
        clear-button
        width="500"
        label="Artist"
        placeholder="Artist Name">
        <template #right>
          <mu-icon link icon="bug"></mu-icon>
        </template>
      </mu-editor>
    </div>
    <div class="mu-box" padding="1x">
      <mu-combo-box
        v-model="artist"
        class="mu-box my-combo-box"
        width="500"
        label="Artist"
        placeholder="Artist Name"
        :options="artists">
      </mu-combo-box>
    </div>
    <div class="mu-box" padding="1x">
      <mu-combo-box
        class="mu-box" width="500" dropdown-height="300px"
        v-model="artist" :options="artistsCn">
        <template #dropdown>
          <mu-h-box width="100%" height="100%">
            <mu-tab-bar
              flex="none" tab-position="left"
              :tab-items="tabItems" v-model:active-tab="activeTab">
            </mu-tab-bar>
            <mu-box flex="1">
              <component
                :is="el === '-' || el.divider ? 'mu-list-divider' : 'mu-option'"
                v-for="(el, index) in artistsCn"
                :key="el === '-' ? index : el"
                v-bind="el === '-' ? {} : el" />
            </mu-box>
          </mu-h-box>
        </template>
      </mu-combo-box>
    </div>
    <div class="mu-box" position="fixed bottom left" padding="1x">
      <mu-combo-box
        v-model="artist"
        class="mu-box"
        width="500"
        label="Artist"
        placeholder="Artist Name"
        :dropdown-style="{ width: '600px' }"
        :options="artistsCn">
      </mu-combo-box>
    </div>
    <mu-box padding="1x">
      <mu-button @click="addOption">Add Option</mu-button>
    </mu-box>
  </div>

  <script type="text/javascript">
    const app = Vue.createApp({
      setup () {
        const artist = Vue.ref('Johann Baptist Strauss')
        const artists = Vue.reactive([
          { divider: true, label: 'GROUP 1' },
          { value: 'Ludwig van Beethoven' },
          { value: 'Wolfgang Amadeus Mozart' },
          { value: 'Frédéric François Chopin' },
          { divider: true, label: 'GROUP 2' },
          { value: 'Johann Baptist Strauss', disabled: true  }
        ])

        const artistsCn = Vue.reactive([
          { value: 'Ludwig van Beethoven', label: '贝多芬' },
          { value: 'Wolfgang Amadeus Mozart', label: '莫扎特' },
          { value: 'Frédéric François Chopin', label: '肖邦' },
          { divider: true },
          { value: 'Johann Baptist Strauss', label: '斯特劳斯', disabled: true }
        ])

        const tabItems = [
          { name: 'All Variables' },
          { name: 'Workflow' },
          { name: 'Business' }
        ]

        const activeTab = Vue.ref('All Variables')

        return { artist, artists, artistsCn, tabItems, activeTab }
      },
      methods: {
        onDropdownShow () {
          console.log('dropdown show')
        },
        addOption () {
          const  v = (new Date()).toString()

          this.artist = v
          this.artists.push({
            value: v
          })
          this.artistsCn.push({
            value: v
          })
        }
      }
    })

    mussel.install(app, { darkMode: 'auto' })
    mussel.registerIcons({
      bug: 'ti ti-bug',
      bolt: 'ti ti-bolt',
      album: 'ti ti-album'
    })

    app.mount('#app')
  </script>
</body>

</html>
