<!DOCTYPE html>
<html lang="zh">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Editor Component Example</title>

  <script type="text/javascript" src="../../node_modules/vue/dist/vue.global.js"></script>
  <script type="text/javascript" src="../../dist/mussel.js"></script>

  <link
    rel="stylesheet"
    type="text/css"
    href="./style.css" />

  <link
    rel="stylesheet"
    type="text/css"
    href="../../dist/mussel.css" />

  <link
    rel="stylesheet"
    type="text/css"
    href="../../node_modules/@tabler/icons-webfont/dist/tabler-icons-outline.css" />

    <style>
      .mu-editor {
        width: 250px;
      }
    </style>
</head>

<body>
  <div id="app" class="mu-box mu-bg-normal" position="fixed fit">
    <h2>
      EDITOR
      <mu-switch
        v-model="darkMode"
        active-label="Dark"
        inactive-label="Light"
        @update:model-value="onUIModeChange">
      </mu-switch>
    </h2>
    <div class="group">
      <h3>BASIC</h3>
      <mu-editor v-model.trim="value" placeholder="Input Text" @update:model-value="onChange"></mu-editor>
      <mu-editor v-model="value" placeholder="Input Text" clear-button></mu-editor>
      <mu-editor v-model="value" placeholder="Input Text" clear-button></mu-editor>
    </div>
    <div class="group">
      <h3>ICON & BUTTON</h3>
      <mu-editor v-model="value">
        <template #prepend>
          <mu-icon icon="bug"></mu-icon>
        </template>
      </mu-editor>
      <mu-editor v-model="value" clear-button>
        <template #append>
          <mu-icon icon="ok"></mu-icon>
        </template>
      </mu-editor>
      <mu-editor v-model="value" clear-button>
        <template #append>
          <mu-icon tag="a" icon="bolt" primary></mu-icon>
        </template>
      </mu-editor>
    </div>
    <div class="group">
      <h3>LABEL</h3>
      <mu-editor>
        <template #prepend>
          <span>Name</span>
        </template>
      </mu-editor>
      <mu-editor type="number">
        <template #append>
          <span>PCS</span>
        </template>
      </mu-editor>
      <div style="width: 100%;"></div>
      <mu-editor label="Name"></mu-editor>
      <mu-editor type="number">
        <template #append>
          <label>
            <mu-icon tag="a" icon="folderOpen" primary></mu-icon>
          </label>
        </template>
      </mu-editor>
      <mu-editor label="Addr">
        <template #prepend>
          <span>http://</span>
        </template>
        <template #append>
          <span>.com</span>
        </template>
      </mu-editor>
    </div>
    <div class="group">
      <h3>Style & State</h3>
      <mu-editor v-model="value" placeholder="Underline" input-style="underline" clear-button></mu-editor>
      <mu-editor v-model="value" placeholder="Round" round clear-button></mu-editor>
      <mu-editor v-model="value" placeholder="Solid" input-style="solid" clear-button></mu-editor>
      <mu-editor v-model="value" placeholder="Round & Solid" round input-style="solid" clear-button></mu-editor>
      <div style="width: 100%;"></div>
      <mu-editor label="Name" placeholder="Underline" input-style="underline">
        <template #append>
          <a primary>Open</a>
        </template>
      </mu-editor>
      <mu-editor label="Name" placeholder="Round" round>
        <template #append>
          <a primary>Open</a>
        </template>
      </mu-editor>
      <mu-editor label="Name" placeholder="Solid" input-style="solid">
        <template #append>
          <a primary>Open</a>
        </template>
      </mu-editor>
      <div style="width: 100%;"></div>
      <mu-editor v-model="value" placeholder="Invalid Input" invalid></mu-editor>
      <mu-editor v-model="value" placeholder="Readonly" readonly></mu-editor>
      <mu-editor v-model="value" placeholder="Disabled" disabled></mu-editor>
      <div style="width: 100%;"></div>
      <mu-editor label="Name" placeholder="Underline" input-style="underline" invalid>
        <template #append>
          <a primary>Open</a>
        </template>
      </mu-editor>
      <mu-editor v-model="value" label="Total" placeholder="Readonly" input-style="underline" round readonly>
        <template #append>
          <label>RPM</label>
        </template>
      </mu-editor>
      <mu-editor v-model="value" label="Name" placeholder="Disabled" input-style="underline" disabled>
        <template #append>
          <a primary>Open</a>
        </template>
      </mu-editor>
      <mu-editor v-model="value" label="Name" placeholder="Disabled" input-style="solid" disabled>
        <template #append>
          <a primary>Open</a>
        </template>
      </mu-editor>
    </div>
  </div>

  <script type="text/javascript">
    const app = Vue.createApp({
      setup () {
        const darkMode = Vue.ref(false)
        const value = Vue.ref('')

        function onUIModeChange (v) {
          document.querySelector('.mu-root').classList.toggle('mu-dark')
        }

        return {
          darkMode,
          value,
          onUIModeChange
        }
      },
      methods: {
        onChange (v) {
          console.log(v)
        }
      }
    })

    mussel.install(app, {
      icons: {
        bug: 'ti ti-bug',
        bolt: 'ti ti-bolt',
        album: 'ti ti-album'
      }
    })

    app.mount('#app')
  </script>
</body>

</html>
