<!DOCTYPE html>
<html lang="zh" class="mu-root">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Flex Layout Component Example</title>

  <script type="text/javascript" src="../../node_modules/vue/dist/vue.global.js"></script>
  <script type="text/javascript" src="../../dist/mussel.js"></script>

  <link
    rel="stylesheet"
    type="text/css"
    href="../../dist/mussel.css" />
  <link
    rel="stylesheet"
    type="text/css"
    href="../../node_modules/@tabler/icons/iconfont/tabler-icons.css" />
</head>

<body>
  <div id="app">
    <mu-h-box class="mu-bg-normal" position="fixed fit" padding="1x">
      <mu-box flex="1" margin="1x" border @sizechange.xxx="onResize">1</mu-box>
      <mu-box flex="1" margin="1x" border>2</mu-box>
      <mu-box flex="1" margin="1x" border>3</mu-box>
    </mu-h-box>
  </div>

  <script type="text/javascript">
    const app = Vue.createApp({
      setup () {
        function onResize (event) {
          console.log('resize', event)
        }

        return { onResize }
      }
    })

    mussel.install(app, { darkMode: 'auto' })

    app.mount('#app')
  </script>
</body>
