<!DOCTYPE html>
<html lang="zh" class="mu-root">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Editor Component Example</title>

  <script type="text/javascript" src="../../node_modules/vue/dist/vue.global.js"></script>
  <script type="text/javascript" src="../../dist/mussel.js"></script>

  <link
    rel="stylesheet" type="text/css"
    href="../../dist/mussel.css" />
  <link
    rel="stylesheet" type="text/css"
    href="../../node_modules/@tabler/icons/iconfont/tabler-icons.css" />
</head>

<body>
  <div id="app" class="mu-box" position="fixed fit" padding="2x">
    <div class="mu-form mu-box" border="primary">
      <div class="mu-form-field mu-box" width="200">
        <label>Text 1</label>
        <mu-editor value="Value 1"></mu-editor>
      </div>
      <div class="mu-form-field mu-box" flex="1" required>
        <label>Text 2</label>
        <mu-editor value="Value 2"></mu-editor>
      </div>
      <div class="mu-form-row">
        <div class="mu-form-field mu-box" flex="1" invalid>
          <label>Text 3</label>
          <mu-editor value="Value 3"></mu-editor>
        </div>
        <div class="mu-form-field mu-box" flex="1" invalid>
          <label>Text 4</label>
          <mu-editor underline value="Value 4"></mu-editor>
        </div>
        <div class="mu-form-field mu-box" flex="1" invalid>
          <label>Text 5</label>
          <mu-editor solid value="Value 5"></mu-editor>
        </div>
      </div>
    </div>
    <mu-box height="200" border="primary" margin-top="2x">

    </mu-box>
  </div>

  <script type="text/javascript">
    const app = Vue.createApp({
    })

    app
      .use(mussel, { darkMode: 'auto' })
      .mount('#app')
  </script>
</body>

</html>
