<!DOCTYPE html>
<html lang="zh">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Modal Component Example</title>

  <script type="text/javascript" src="../../node_modules/vue/dist/vue.global.js"></script>
  <script type="text/javascript" src="../../dist/mussel.js"></script>

  <link
    rel="stylesheet"
    type="text/css"
    href="../../dist/mussel.css">

  <link
    rel="stylesheet"
    type="text/css"
    href="../../node_modules/@tabler/icons-webfont/dist/tabler-icons-outline.css">

  <style>
    .group {
      display: flex;
      gap: 8px;
      flex-wrap: wrap;

      padding: 8px;
      margin: 8px;
    }

    h2 {
      margin: 16px;
      padding-bottom: 8px;
      border-bottom: 2px solid currentColor;
    }

    h3 {
      width: 100%;
      margin: 0;
      color: var(--mu-text-color-normal);
    }
  </style>
</head>

<body>
  <div id="app" class="mu-box" position="fixed fit">
    <h2>Modal Dialog</h2>
    <div id="divX" class="group">
      <mu-button caption="Open Dialog 1" @click="openDialog1"></mu-button>
      <mu-button caption="Request Fullscreen" @click="requestFullscreen"></mu-button>
    </div>
    <mu-dialog
      v-model:visible="dialog1Visible"
      title="Modal Dialog 1"
      width="800"
      height="600"
      easy-hide
      keep-position
      :lazy="false"
      :icon="{ icon: 'box', style: 'color: var(--mu-accent-color)' }"
      :buttons="['-', 'Find', ' ', 'CANCEL', 'OK']"
      @update:visible="(...args) => onDialogVisibleChange('dialog1', ...args)"
      @button-click="onButtonClick">
      <template #header-append>
        <mu-editor placeholder="find your money" icon="search" input-style="solid" round>
          <template #prepend><mu-icon icon="search"></mu-icon></template>
        </mu-editor>
        <mu-dropdown-button
          class="mu-icon-button"
          tool-button
          icon="dotsVert"
          dropdown-trigger="click"
          :dropdown-items="menus">
        </mu-dropdown>
      </template>
      <div class="mu-dialog_body mu-bg-strong" v-mu-scrollbar>
        <div style="height: 1000px;">
        It's a long story...
        </div>
      </div>
      <template #footer-prepend>
        <mu-editor placeholder="where's your money?"></mu-editor>
      </template>
    </mu-dialog>
  </div>

  <script type="text/javascript">
    const app = Vue.createApp({
      setup () {
        const dialog1Visible = Vue.ref()
        const $mussel = Vue.inject('$mussel')

        const menus = [
          { label: 'Open Recent Files' },
          { label: 'New File' },
          '-',
          { label: 'Exit' }
        ]

        function openDialog1 () {
          dialog1Visible.value = true
        }
        
        function requestFullscreen () {
          document.querySelector('#divX').requestFullscreen()
        }

        function onDialogVisibleChange (dialogName, value, action, btn) {
          console.log(dialogName, value, action, btn)
        }

        function onButtonClick(button) {
          if (button?.caption === 'Find') {
            $mussel.messageBox.alert('Cannot find any !')
          } else {
            console.log(button?.caption)
          }
        }

        return {
          dialog1Visible,
          menus,
          openDialog1,
          onDialogVisibleChange,
          onButtonClick,
          requestFullscreen
        }
      }
    })

    mussel.install(app, {
      darkMode: false,
      icons: {
        box: 'ti ti-box',
        search: 'ti ti-search'
      }
    })

    app.mount('#app')
  </script>
</body>

</html>
