<!DOCTYPE html>
<html lang="zh" class="mu-root">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Selection Component Example</title>

  <script type="text/javascript" src="../../node_modules/vue/dist/vue.global.js"></script>
  <script type="text/javascript" src="../../dist/mussel.js"></script>

  <link
    rel="stylesheet" type="text/css"
    href="../../dist/mussel.css" />
  <link
    rel="stylesheet" type="text/css"
    href="../../node_modules/@tabler/icons/iconfont/tabler-icons.css" />
</head>

<body>
  <div id="app" class="mu-bg-normal mu-box" position="fixed fit" padding="2x">
    <mu-switch v-model:value="value1" active-label="ON" inactive-label="OFF" disabled>
    </mu-switch>
    <p></p>
    <mu-switch v-model:value="value1" active-label="打开" inactive-label="关闭" primary>
    </mu-switch>
    <p></p>
    <mu-switch v-model:value="value1" danger>
    </mu-switch>
    <p></p>
    <label class="mu-check">
      <input type="checkbox" placeholder="check">
      check me !
    </label>
    <p></p>
    <mu-check v-model:checked="checked" label="check me !" disabled></mu-check>
    <p></p>
    <label class="mu-radio">
      <input type="radio" placeholder="check" name="x" value="1">
      Radio 1
    </label>
    <p></p>
    <label class="mu-radio" disabled>
      <input type="radio" placeholder="check" name="x" value="2">
      Radio 2
    </label>
    <p></p>
    <mu-radio name="x" value="3" label="Radio 3" />
  </div>

  <script type="text/javascript">
    const app = Vue.createApp({
      setup () {
        const value1 = Vue.ref(true)
        const checked = Vue.ref(true)

        return { value1, checked }
      }
    })

    mussel.install(app, { darkMode: 'auto' })

    app.mount('#app')
  </script>
</body>

</html>
