<!DOCTYPE html>
<html lang="zh" class="mu-root">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Switch Component Example</title>

  <script type="text/javascript" src="../../node_modules/vue/dist/vue.global.js"></script>
  <script type="text/javascript" src="../../dist/mussel.js"></script>

  <link
    rel="stylesheet" type="text/css"
    href="../../dist/mussel.css" />
  <link
    rel="stylesheet" type="text/css"
    href="../../node_modules/@tabler/icons/iconfont/tabler-icons.css" />
</head>

<body class="mu-background-normal">
  <div id="app">
    <mu-switch v-model:value="value1" active-label="开" inactive-label="关" disabled>
    </mu-switch>
    <p></p>
    <mu-switch v-model:value="value1" active-label="开" inactive-label="关" primary>
    </mu-switch>
    <p></p>
    <mu-switch v-model:value="value1" active-label="开" inactive-label="关" danger>
    </mu-switch>
  </div>

  <script type="text/javascript">
    const app = Vue.createApp({
      setup () {
        const value1 = Vue.ref(true)

        return { value1 }
      }
    })

    mussel.install(app)

    app.mount('#app')
  </script>
</body>

</html>
