<!DOCTYPE html>
<html lang="zh" class="mu-root">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Tabs Component Example</title>

  <script type="text/javascript" src="../../node_modules/vue/dist/vue.global.js"></script>
  <script type="text/javascript" src="../../dist/mussel.js"></script>

  <link
    rel="stylesheet"
    type="text/css"
    href="../../dist/mussel.css" />

  <link
    rel="stylesheet"
    type="text/css"
    href="../../node_modules/@tabler/icons-webfont/dist/tabler-icons-outline.css" />

  <style>
    .group {
      display: flex;
      gap: 16px;
      flex-wrap: wrap;

      padding: 8px;
      margin: 8px;
    }
  </style>
</head>

<body>
  <div id="app" class="mu-box mu-bg-normal" position="fixed fit" layout="flex" direction="column">
    <div class="mu-bar mu-box mu-bg-strong">
      <label>Tap Position</label>
      <mu-combo-box class="mu-box" :clear-button="false" style="width: 100px;"
        v-model="tabPosition" :options="positions">
      </mu-combo-box>
      <label>Tap Style</label>
      <mu-combo-box
        class="mu-box" :clear-button="false" style="width: 100px;"
        v-model="tabStyle" :options="styles">
      </mu-combo-box>
    </div>

    <mu-tabs
      v-model:active-tab="activeTab"
      class="mu-box"
      :tab-style="tabStyle"
      :tab-position="tabPosition"
      :tab-bar="{ width: ['left', 'right'].includes(tabPosition) ? '150px' : undefined }"
      tab-button-size="small"
      height="200"
      margin="2x"
      border>
      <mu-tab-panel name="Tab 1" layout="flex" content-center>This is Tab 1</mu-tab-panel>
      <mu-tab-panel name="Tab 2" layout="flex" content-center>This is Tab 2</mu-tab-panel>
      <mu-tab-panel name="Tab 3" layout="flex" content-center>This is Tab 3</mu-tab-panel>
      <mu-tab-panel name="Tab 4" disabled layout="flex" content-center>This is Tab 4</mu-tab-panel>
    </mu-tabs>
    <div class="mu-divider mu-box" margin-x="2x"></div>
    <div class="mu-box" margin="2x" padding="1x" border>
      <mu-tabs
        v-model:active-tab="activeTab"
        height="200"
        :tab-style="tabStyle">
        <template #tab-bar-prepend>
          <label class="mu-label">Customized Tab Bar</label>
          <div class="mu-space"></div>
          <div class="mu-divider"></div>
        </template>
        <template #tab-bar-append>
          <div class="mu-divider"></div>
          <div class="mu-space"></div>
          <mu-dropdown-button class="mu-box" caption="artist" :dropdown-items="artists"></mu-dropdown-button>
          <div class="mu-editor mu-box" solid>
            <span class="mu-icon ti ti-search"></span>
            <input placeholder="Search Something">
          </div>
        </template>
        <mu-tab-panel name="Tab 1" layout="flex" content-center>This is Tab 1</mu-tab-panel>
        <mu-tab-panel name="Tab 2" layout="flex" content-center>This is Tab 2</mu-tab-panel>
        <mu-tab-panel name="Tab 3" layout="flex" content-center>This is Tab 3</mu-tab-panel>
        <mu-tab-panel name="Tab 4" disabled layout="flex" content-center>This is Tab 4</mu-tab-panel>
      </mu-tabs>
    </div>
  </div>

  <script type="text/javascript">
    const app = Vue.createApp({
      setup () {
        const positions = [
          { value: 'top' },
          { value: 'bottom' },
          { value: 'left' },
          { value: 'right' }
        ]

        const styles = [
          { value: 'button' },
          { value: 'simple' }
        ]

        const tabItems = [
          { name: 'Tab 1' },
          { name: 'Tab 2' },
          { name: 'Tab 3' },
          { name: 'Tab 4', disabled: true }
        ]

        const activeTab = Vue.ref()
        const tabStyle = Vue.ref('button')
        const tabPosition = Vue.ref('top')

        const artists = Vue.reactive([
          { divider: true, label: 'GROUP 1' },
          { label: 'Ludwig van Beethoven', value: 1 },
          { label: 'Wolfgang Amadeus Mozart' },
          '-',
          { divider: true, label: 'GROUP 2' },
          { label: 'Frédéric François Chopin' },
          { label: 'Johann Baptist Strauss', disabled: true  }
        ])

        return { positions, styles, tabItems, activeTab, tabStyle, tabPosition, artists }
      }
    })

    mussel.install(app, { darkMode: false })

    app.mount('#app')
  </script>
</body>
