<!DOCTYPE html>
<html lang="zh">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <title>Tree Component Example</title>

  <script type="text/javascript" src="../../node_modules/vue/dist/vue.global.js"></script>
  <script type="text/javascript" src="../../dist/mussel.js"></script>

  <link rel="stylesheet" type="text/css" href="../../dist/mussel.css" />
  <style>
    body {
      margin: 0;
    }

    h2 {
      margin: 0;
      padding: 16px 16px 0;
    }

    h3 {
      display: flex;
      gap: 8px;
      align-items: center;
      height: 40px;
      margin: 0;
      padding: 0 8px;
      background-color: #ddd;
    }

    h3 > .mu-button {
      flex: none;
      height: 28px;
      margin-left: auto;
      padding: 0 8px;
    }

    h3 > .mu-button + .mu-button {
      margin-left: 0;
    }

    .mu-tree {
      --mu-tree-node-height: 28px;

      width: 100%;
      height: 200px;
      margin-top: 8px;
    }
  </style>
</head>

<body>
  <h2>Tree Examples</h2>
  <div
    id="app"
    class="mu-box mu-bg-normal"
    width="100%"
    layout="flex"
    flex-wrap
    gap="2x"
    padding="2x">
    <div class="mu-box" width="40%" border>
      <h3>1. Basic Style</h3>
      <mu-tree
        :data="data"
        :active-node="activeNode"
        @node-click="onNodeClick">
      </mu-tree>
    </div>
    <div class="mu-box" width="40%" border>
      <h3>2. Setup Data Props</h3>
      <mu-tree
        flex="1"
        :data="data"
        :active-node="activeNode"
        :props="{ label: 'alias', title: 'label', icon: 'icon2' }"
        @node-click="onNodeClick">
      </mu-tree>
    </div>
    <div class="mu-box" width="40%" border>
      <h3>3. Hide Node Icon</h3>
      <mu-tree
        :data="data"
        :active-node="activeNode"
        :node-icons="false"
        @node-click="onNodeClick">
      </mu-tree>
    </div>
    <div class="mu-box" width="40%" border>
      <h3>4. Setup Default Node Icon</h3>
      <mu-tree
        flex="1"
        :data="data"
        :active-node="activeNode"
        :node-icons="{ folder: 'check', folderOpen: 'check', leaf: 'x' }"
        @node-click="onNodeClick">
      </mu-tree>
    </div>
    <div class="mu-box" width="40%" border>
      <h3>5. Setup Default Expand Icon</h3>
      <mu-tree
        flex="1"
        :data="data"
        :active-node="activeNode"
        :expand-icons="{ expand: 'folder', collapse: 'folderOpen', leaf: 'file' }"
        :node-icons="{ folder: 'point', folderOpen: 'point', leaf: 'point' }"
        @node-click="onNodeClick">
      </mu-tree>
    </div>
    <div class="mu-box" width="40%" border>
      <h3>6. Hide Expand Icon (List Like)</h3>
      <mu-tree
        flex="1"
        :data="data"
        :active-node="activeNode"
        :expand-icons="false"
        :props="{ childNodes: '' }"
        @node-click="onNodeClick">
      </mu-tree>
    </div>
    <div class="mu-box" width="40%" border>
      <h3>7. Custom Node Template</h3>
      <mu-tree
        flex="1"
        :data="data"
        :active-node="activeNode"
        @node-click="onNodeClick">
        <template #default="scoped">
          <mu-icon
            icon="circle"
            :style="{ color: scoped.node.id % 5 === 0 ? 'red' : undefined }">
          </mu-icon>
          <label
            class="mu-tree-node_label"
            :style="{ color: scoped.node.id % 5 === 0 ? 'red' : undefined }">
            Custom: {{ scoped.node.label }} (id: {{ scoped.node.id }})
          </label>
        </template>
      </mu-tree>
    </div>
    <div class="mu-box" width="40%" border>
      <h3>8. Hover Buttons</h3>
      <mu-tree
        flex="1"
        :data="data"
        :active-node="activeNode"
        :hover-buttons="buttons"
        @node-click="onNodeClick"
        @node-button-click="onNodeButtonClick">
      </mu-tree>
    </div>
    <div class="mu-box" width="40%" border>
      <h3>
        9. Auto Expand Level
        <mu-button @click="expandTree.expandAll()">Expand All</mu-button>
        <mu-button @click="expandTree.collapseAll()">Collapse All</mu-button>
      </h3>
      <mu-tree
        ref="expandTree"
        flex="1"
        :data="data"
        :active-node="activeNode"
        :auto-expand-level="3"
        @node-click="onNodeClick">
      </mu-tree>
    </div>
    <div class="mu-box" width="40%" border>
      <h3>10. Context Menu (*Temporary)</h3>
      <mu-tree
        flex="1"
        :data="data"
        :active-node="activeNode"
        @node-click="onNodeClick">
        <template #default="{ node }">
          <label class="mu-tree-node_label">
            {{ node.label }}
          </label>
          <mu-dropdown
            class="mu-tree-node_hover-button"
            dropdown-align="right"
            dropdown-trigger="click"
            :dropdown-style="{ minWidth: '150px' }"
            :dropdown-items="contextMenus">
            <mu-icon class="mu-icon-button" icon="dotsVert"></mu-icon>
          </mu-dropdown>
        </template>
      </mu-tree>
    </div>
    <div class="mu-box" width="40%" border>
      <h3>11. Checkbox - With "Checked" Data Property</h3>
      <mu-tree
        flex="1"
        checkbox
        :data="data"
        :active-node="activeNode"
        :props="{ checked: 'checked' }"
        @update:node-checked="onUpdateNodeChecked">
      </mu-tree>
    </div>
    <div class="mu-box" width="40%" border>
      <h3>12. Checkbox - Without "Checked" Data Property</h3>
      <mu-tree
        flex="1"
        checkbox
        :data="data"
        :active-node="activeNode"
        :props="{ checked: 'checked' }"
        @update:node-checked="onUpdateNodeChecked">
      </mu-tree>
    </div>
  </div>
  <script type="text/javascript">
    function generateRandomTree(maxCount, maxLevel) {
      let count = 0

      function createNode(level) {
        const node = {
          id: count,
          icon: count % 5 === 0 && 'point',
          icon2: 'x',
          label: `Node ${count}`,
          alias: `Node Alias ${count}`,
          disabled: count % 7 === 0
        }

        count++

        const childrenCount = Math.max(level ? 0 : 1, Math.floor(Math.random() * 10))

        if (childrenCount && level < maxLevel && count < maxCount) {
          node.childNodes = []

          for (let i = 0; i < childrenCount; i++) {
            node.childNodes.push(createNode(level + 1))
          }
        }
        
        return node;
      }

      return createNode(0)
    }

    const root = generateRandomTree(200, 5)

    const contextMenus = [
      { divider: true, label: 'File' },
      { label: 'Copy' },
      { label: 'Move' },
      { label: 'Remove' },
      { divider: true, label: 'Follow' },
      { label: 'WeChat' },
      { label: 'FaceBook' }
    ]

    const app = Vue.createApp({
      setup () {
        const data = Vue.ref(root.childNodes)
        const activeNode = Vue.ref()

        const buttons = [
          {
            icon: 'circle',
            title: 'button 0'
          },
          {
            icon: 'x',
            title: 'button 1',
            danger: true
          },
          {
            icon: 'check',
            title: 'button 2',
            success: true
          }
        ]

        function onNodeClick (node) {
          activeNode.value = node
        }

        function onNodeButtonClick (node, button) {
          console.log('Button Clicked:', node.label, button.title)
        }

        function checkNodeRecursively (node) {
          node.checked = true
          
          if (node.childNodes) {
            node.childNodes.forEach(checkNodeRecursively)
          }
        }

        function onUpdateNodeChecked (node, checked) {
          console.log('Node Checked Change:', node.label, checked)

          if (checked) checkNodeRecursively(node)
          else node.checked = false
        }

        const expandTree = Vue.ref()

        return {
          data,
          activeNode,
          buttons,
          contextMenus,
          expandTree,
          onNodeClick,
          onNodeButtonClick,
          onUpdateNodeChecked
        }
      }
    })

    mussel.install(app, { darkMode: false })
    app.mount('#app')
  </script>
</body>