.mu-root[dark-mode] {
  /* Common Elements Colors */
  --mu-background-normal: rgb(15, 15, 15);
  --mu-background-hover: rgba(255, 255, 255, .05);
  --mu-background-strong: rgba(255, 255, 255, .03);
  --mu-background-disabled: rgba(255, 255, 255, .05);

  --mu-text-color-normal: #ddd;
  --mu-text-color-reversed: #fff;
  --mu-text-color-weak: rgba(255, 255, 255, .5);
  --mu-text-color-placeholder: rgba(255, 255, 255, .3);

  --mu-border-color: #404040;
  --mu-border-hover-color: #4D4D4D;
  
  --mu-divider-color: rgba(255, 255, 255, .2);

  /* Component Colors */
  --mu-mask-background: rgba(255, 255, 255, .15);

  --mu-badge-background: rgba(255, 255, 255, .3);

  /* --mu-button-background-normal: var(--mu-background-normal); */
  /* --mu-button-background-outline: transparent; */
  --mu-button-text-color-normal: #aaa;
  /* --mu-button-border-color-normal: var(--mu-border-color); */

  /* --mu-editor-background: var(--mu-background-normal); */
  --mu-editor-background-solid: #333;
  --mu-editor-background-readonly: rgba(255, 255, 255, .1);
  /* --mu-editor-text-color: var(--mu-text-color-normal); */
  /* --mu-editor-border-color: var(--mu-border-color); */
  /* --mu-editor-label-background: var(--mu-background-strong); */

  --mu-switch-background: rgba(255, 255, 255, .5);
  /* --mu-switch-ball-background: #fff; */
  /* --mu-switch-inner-label-color: var(--mu-text-color-reversed); */

  --mu-check-icon: url("data:image/svg+xml, %3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23333' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='m6 10 3 3 6-6'/%3e%3c/svg%3e");
  --mu-radio-icon: url("data:image/svg+xml, %3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3ccircle fill='none' stroke='%23333' stroke-width='3' cx='10' cy='10' r='6' /%3e%3c/svg%3e");

  /* --mu-check-background: var(--mu-background-normal); */
  /* --mu-check-background-checked: var(--mu-primary-color); */
  /* --mu-check-border-color: var(--mu-border-color); */

  /* --mu-list-item-hover-background: var(--mu-background-hover); */
  /* --mu-list-divider-border-color: var(--mu-divider-color); */

  --mu-dropdown-background: #222;
  /* --mu-dropdown-border-color: var(--mu-border-color); */

  /* --mu-tab-panel-background: var(--mu-background-normal); */
  /* --mu-tab-bar-background: var(--mu-background-strong); */

  /* --mu-tab-button-background: transparent; */
  /* --mu-tab-button-border-color: transparent; */
  /* --mu-tab-button-background-hover: var(--mu-background-hover); */
  /* --mu-tab-button-background-active: var(--mu-primary-color); */
  /* --mu-tab-button-text-color: var(--mu-text-color-normal); */
  /* --mu-tab-button-text-color-hover: var(--mu-text-color-normal); */
  /* --mu-tab-button-text-color-active: var(--mu-text-color-reversed); */

  --mu-dialog-background: #222;
  /* --mu-dialog-header-background: inherit; */
  /* --mu-dialog-footer-background: inherit; */
  /* --mu-dialog-body-background: inherit; */

  --mu-notifier-background: #333;
}
