.mu-tree {
  --mu-tree_node-height: 32px;
  --mu-tree_node-indent: 16px;
  --mu-tree_node-padding: 4px 8px;
  --mu-tree_node-line-height: 20px;

  overflow: auto;
}

.mu-tree-node {
  cursor: pointer;

  position: relative;

  overflow: visible;
  display: flex;
  gap: 4px;
  align-items: center;

  width: 100%;
  min-height: var(--mu-tree_node-height);
  padding: var(--mu-tree_node-padding);

  font-size: var(--mu-common-font-size);
  line-height: var(--mu-tree_node-line-height);
  color: var(--mu-text-color-normal);

  & > .mu-icon {
    flex: none;
    font-size: calc(1em + 2px);
  }

  & > .mu-tree-node_expand-icon {
    pointer-events: auto;

    &[icon="dropdown"] {
      transform: rotate(-90deg);
      transition: transform .1s ease-in-out;
    }
  }

  & > .mu-tree-node_button {
    width: 20px;
    line-height: 0;
    text-align: center;

    &[hover] {
      display: none;
    }
  }

  & > .mu-tree-node_label {
    cursor: inherit;
    user-select: none;

    overflow: hidden;
    flex: 1 1 0;

    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &:hover {
    background: var(--mu-list-item-hover-background);

    & > .mu-tree-node_button[hover] {
      display: inline-flex;
    }
  }

  &[active] {
    color: var(--mu-primary-color);
    background-color: var(--mu-primary-color-shadow);
  }

  &[disabled] {
    pointer-events: none;
    cursor: default;
    color: var(--mu-text-color-weak);
    background: inherit;
  }

  &[expanded] {
    & > .mu-tree-node_expand-icon {
      transform: rotate(0);
    }
  }
}
