.mu-root {
  --mu-common-font-size: $commonFontSize;
  --mu-unit-spacing-size: $unitSpacingSize;

  font-family:
    system-ui, 
    -apple-system,
    BlinkMacSystemFont,
    "PingFang SC",
    "Hiragino Sans GB",
    "Microsoft YaHei",
    "Helvetica Neue",
    Helvetica,
    Arial,
    sans-serif;

  font-size: var(--mu-common-font-size);
  color: var(--mu-text-color-normal);
  background-color: var(--mu-background-normal);
}
