.mu-scrollbar {
  --mu-scrollbar_width: 8px;
  --mu-scrollbar_margin: 4px;
  --mu-scrollbar_border-radius: 4px;
  --mu-scrollbar_track-color: rgba(0, 0, 0, 0);
  --mu-scrollbar_thumb-min-length: 32px;
  --mu-scrollbar_thumb-color: rgba(0, 0, 0, .25);
  --mu-scrollbar_thumb-active-color: rgba(0, 0, 0, .35);

  scrollbar-width: none;
  position: relative;
  overflow: auto;

  &::-webkit-scrollbar {
    display: none;
  }
}

.mu-scrollbar_tracks {
  position: sticky;
  z-index: 10;
  top: 0;
  left: 0;

  overflow: visible;

  width: 0;
  height: 0;
}

.mu-scrollbar_track-x,
.mu-scrollbar_track-y {
  user-select: none;
  
  position: absolute;

  overflow: hidden;

  opacity: 0;
  background: var(--mu-scrollbar_track-color);
  border-radius: var(--mu-scrollbar_border-radius);

  transition: opacity .5s ease-in-out;

  & > .mu-scrollbar_thumb {
    position: absolute;
    background: var(--mu-scrollbar_thumb-color);
    border-radius: var(--mu-scrollbar_border-radius);

    &:hover {
      background: var(--mu-scrollbar_thumb-active-color);
    }
  }
}

.mu-scrollbar_track-x {
  height: var(--mu-scrollbar_width);

  & > .mu-scrollbar_thumb {
    min-width: var(--mu-scrollbar_thumb-min-length);
    height: 100%;
  }
}

.mu-scrollbar_track-y {
  width: var(--mu-scrollbar_width);

  & > .mu-scrollbar_thumb {
    width: 100%;
    min-height: var(--mu-scrollbar_thumb-min-length);
  }
}

.mu-scrollbar {
  &:hover,
  &[scrollbar-visible="always"] {
    & > .mu-scrollbar_tracks > .mu-scrollbar_track-x,
    & > .mu-scrollbar_tracks > .mu-scrollbar_track-y {
      opacity: 1;
    }
  }

  &[scrollbar-visible="hidden"] {
    overflow: hidden;

    & > .mu-scrollbar_tracks > .mu-scrollbar_track-x,
    & > .mu-scrollbar_tracks > .mu-scrollbar_track-y {
      display: none !important;
    }
  }
}
